.transition {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.displayPanel {
  /*display: none;*/
}

.hidePanel {
  display: none!important;
  height: 0px;
  overflow: hidden!important;
}

.sidebar{
  width: 100%;
  height: 100%;
  float: left;
  background: url(http://s21.postimg.org/kexv3aupf/bg_sidebar.png) repeat left top;
}

.navMenuWrapper {
    font-family: "Segoe UI",Arial,sans-serif;
    height: 100vh !important;
    width: 15%;
    position: fixed !important;
    left: 0px;
    top: 58px;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch !important;
    background-color: #fff;
    color: rgba(255, 255, 255, 0.65);
    z-index: 100;
    box-shadow: 2px 0px 0px #a8a8a8;
}

.navMenuWrapper .closeMenu {
  position: absolute;
  display: block;
  margin-bottom: 20px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  color: white;
  /*min-width: 100px;*/
}

@media (max-width: 1170px) {
  .navMenuWrapper {
    width: 0px;
  }

  .navMenuWrapper .navScroller {
    margin-top: 80px;
  }
}

@media (min-width: 1170px) {
  .navMenuWrapper .closeMenu, 
  .summaryHeader .toggle  {
    visibility: hidden;
  }

}

.open {
    width: 180px  !important;
}


.summaryHeader .toggle {
  position: absolute;
  display: block;
  padding: 9px 10px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  z-index: 101;
}

.componentContainer {
  margin-top: 30px;
}

.summaryHeader .toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: black;
}

.toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}



.navScroller {
  /*margin-top: 50px;*/
  margin-bottom: 50px;
}

  .navScroller h4 {
    text-align: left;
    color: #fff;
  }

.sideNavUL, .sideNavSubUl{
    background-color: #888888;
    padding: 0px;
    position: relative;
    margin-bottom: 0px!important;
}
  .sideNavUL img {
    display: none;
  }

  .sideNavUL li {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
    text-decoration: none!important;
    background-color: #4A4A4A;
    color: #fff;
  }

 /* .sideNavUL i {
    width: 10%;
    height: 80%;
    color: #4A4A4A;
  }*/

  .sideNavUL button {
    text-align: left;
    width: 90%;
    height: 100%;
  }

 .sideNavUL li:hover {
   background-color: #894176;
   cursor: pointer;
  }

  .sideNavUL .selected {
      background-color: #894176;
      color: #fff;
/*      padding-bottom: 0px;
*/  }

/*  .sideNavUL ul:hover {
     background-color: #894176;
     opacity: 0.8;
     cursor: pointer;
  }*/


/*. ul sideNavUl
      li sideNavStep 
        ul sideNavSubUl
          li 
*/

.sideNavSubUl li {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: none;
  text-decoration: none!important;
  background-color: #fff;
  color: #4A4A4A;
  position: relative;
}

.sideNavSubUl li:hover {
   background-color: #f8f8f8;
   cursor: pointer;
}

.sideNavSubUl .selected:hover {
  color: #894176!important;
  background-color: #fff!important;
  opacity: 1;
}

.sideNavSubUl .selected {
      color: #894176;
      background-color: #fff;
  }

.sideNavSubUl .selected img {
    display: block;
    position: absolute;
    top: 12px;
    left: 5px;
    z-index: 100;
}

.sideNavSubUl .verticalLine {
    display: block;
    position: absolute;
    width: 2px;
    height: 130px;
    top: 6px;
    left: 12px;
    background-color: #894176;
    z-index: 10;
}

.sideNavSubUl .verticalLine-large {
    height: 220px!important;
}



.sideNavSubUl button {
  padding-left: 30px!important;
}

/*.sideNavUL {
    background-color: #894176;
}

.sideNavUL .selected {
    background-color: #888888;
}*/

.navScroller button {
  outline: none;
  background-color: Transparent;
  border: none;
  background-repeat:no-repeat;
  padding-left: 10px;
  transition-duration: 0.2s;
}






