.appventureRow {
	margin-top: 10px;
	margin-bottom: 10px; 
	width: 100%;
 	border: 1px solid #979797;
}

.appventureRowTitle {
	display: inline;
	padding: 10px;
	margin-top: 0px !important;
}

.editBtn {

}

.appventureRowImage{
	width: 20%;
	height: auto;
}