.flexWrapper {
/*  display: flex;
  flex-direction: row;
  justify-content: space-between;*/

}

.left {
  width: 40%;
  float: left;
  padding-left: 10px;
  padding-top: 20px;
}


.right {
  padding: 20px;
  width: 40%;
  float: left;
}

/*
.flexWrapper  form {
  margin: 20px auto;
  position: relative;
  height: 30px;
}

.flexWrapper  input {
  height: 100%;
  font-size: 1.4em;
}*/

.flexWrapper  img {
  height: 24px;
  padding-bottom: 2px;
  vertical-align: middle;
}

.flexWrapper  input[type=text] {
  width: 80%;
  padding: 0px;
  display: inline-block;
  height: 24px;
  /*float: left;*/
  /*position: absolute;*/
  top: 0;
  left: 0;
}

.flexWrapper  input[type=submit] {
  width: 20%;
  position: absolute;
  right: 0;
  top: 2px;
  border: 1px solid #ddd;
  background: #FFF;
}