@import url('https://bootswatch.com/spacelab/bootstrap.min.css');

.image { opacity: 0; transition: opacity 0.3s; }

.image-loaded { opacity: 1; }


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.DoubleCard {
  margin-top: 10px;
  /*padding: 0px;*/
}

.maxWidth {
  max-width: 300px;
  /*padding-left: 0px;*/
}
/*
.AppventureCard { 
   position: relative; 
   float: left;
   width: 50%;
   top: 0px; 
   background-color: rgb(1, 0.5, 0.5);
   padding: 0px;
   margin-top: 10px;
}*/

.col-xs-122 {
    outline-style: solid;
    outline-color: red;
    outline-width: 1px;
}

.row2 {
    outline-style: solid;
    outline-color: blue;
    outline-width: 1px;
}

.col-xs-42 {
    outline-style: solid;
    outline-color: green;
    outline-width: 1px;
}







